<div class="container-fluid">
  <div class="col-lg-6">
    <div class="jumbotron">
      <h1>AWNICS</h1>
      <p><strong> Awnics Technologies Pvt Ltd. </strong><br>Our Journey began when three different minds came together to build this unique experience
        with one focus. Our driving force has been the need to innovate and to enhance Quality of Solution and User experience.
      </p>
      <ul> <b>Pillars of Awnics Technologies Pvt Ltd:</b>
        <li>Rahul Vishwakarma</li>
        <li>Yash Kumar</li>
        <li>Ashutosh Jha</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="jumbotron">
      <h1>AWNICS</h1>
      <p><strong> Awnics Technologies Pvt Ltd. </strong><br> Our Journey began when three different minds came together to build this unique experience
        with one focus. Our driving force has been the need to innovate and to enhance Quality of Solution and User experience.
      </p>
      <ul> <b>Pillars of Awnics Technologies Pvt Ltd:</b>
        <li>Rahul Vishwakarma</li>
        <li>Yash Kumar</li>
        <li>Ashutosh Jha</li>
      </ul>
    </div>
  </div>
</div>